extends ../views/common.pug
block content
 form(action="" method="GET")
  .form-row
    .form-group.col-md-6
      label Name
      input.form-control(type='text', name="maxe", placeholder='ma xe')
  .form-row
    .form-group.col-md-6
      label Depart
      input.form-control(type='text', name="tenxe", placeholder='tenxe')
  .form-row
    .form-group.col-md-6
      label Arrive
      input.form-control(type='text', name="soxe", placeholder='soxe')
  .form-row
    .form-group.col-md-6
      label hang san xuat
      input.form-control(type='text', name="hangsx", placeholder='hang san xuat')
  .form-row
    .form-group.col-md-6
      label mau xe
      input.form-control(type='text', name="mauxe", placeholder='mau xe')
  .form-row
    .form-group.col-md-6
      label ten chu
      input.form-control(type='text', name="tenchu", placeholder='ten chu')
  button.btn.btn-primary(type='submit') Add