extends ../views/common.pug
block content
    form(action="/xe/search/result" method="GET")
        .form-row
            .form-group.col-md-6
                label Xe
                input.form-control(type='text', name="tenxe", placeholder='tenxe')
        button.btn.btn-primary(type='submit') View