extends ../views/common.pug
block content
    form(action="/flight/viewDate/result" method="GET")
        .form-row
            .form-group.col-md-6
                label Flights Date
                input.form-control(type='date', name="flightDate", placeholder='Flight Date')
        button.btn.btn-primary(type='submit') View