<!DOCTYPE html>
<html lang="en">
<head>
    <%-include("./particals/header")%>
</head>
<body>
    ,<header>
        <%-include(""./particals/header)%>
    </header>
    <main>
        asasd
    </main>
    <footer>
        <%-include("./particals/footer")%>
    </footer>
</body>

</html>